
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a, p, h1, h2, h3,h4,h5 {
    padding: 0px;
    margin: 0px;

}

h1{
    margin: 2.19vw;
    color: #f1f1f1;
}

h2 {
    font-size: 50px;
}

p{
    font-size: 18px;
}


h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.3rem;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    color: #000;
    margin: 0 auto;
}

ul,li{
    list-style: none;
    display: flex;
    gap: 0.5625rem;
    align-items: center;
}

.perfil-img{
    height: 50vh;
    border: 6px solid #71b436;
    max-width: 100%;  
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #71b436;
    height: 8vh;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  

a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #f1f1f1;
    margin: 1.8519vh;
    font-weight: 600;
}


a:hover{
    color: #244b02;
    transition: 200ms linear;
}

.quemsou{
    display: grid;
    grid-template-columns: 1fr 60vw;
    justify-items: center;
    margin-top: 9.2593vh;
    margin-bottom: 18vh;
    }
    
.quemsou-desc {
    display: grid;
    align-content: center;
    padding: 20px;
    gap: 1.875rem;
    }
    
.texto-quemsou{
    padding-right: 4.375rem;
    font-size: 1.5rem;
    }
    
    
.detalhe {
    display: block;
    width: 50vw;
    height: 0.3704vh;
    background-color: #71b436;   
    box-shadow: 0.625rem 0.625rem 1.25rem 0rem rgba(0, 0, 0, 0.4);
}    

.perfil {
    display: grid;
    gap: 0.9375rem;
    justify-items: center;
}

.perfil a {
    justify-content: center;
    background-color: #71b436;
    width: 10rem;
    height: 2.3rem;
    border-radius: 0.2rem;
    align-items: center;
}
    
.experiencia {
    margin-top: 18.5185vh;
    display: grid;
    margin: 40px;
    grid-template-columns: 40vw 50vw;
    margin-bottom: 18.5185vh;
    justify-content: center;
    justify-items: start;
    align-items: center;
}



.grid-experiencia{
    display: grid;
    gap: 8vh;
    justify-self: center;
}

.divtexto-fac{
    display: grid;
    gap: 1vw;
    color: #f1f1f1;
}

.grid-exp-bloco1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    background-color: #426B1F;
    padding: 3vw 5vw;
    border-radius: 0.3vw;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);

}
.grid-exp-bloco1 img{
    width: 8vw;
    max-width: 100%;
    border-radius: 1vw;
    height: 100%;
}
.experiencia-container {
    display: grid;
    align-items: center;
    grid-template-columns: 50vw;
    gap: 1.25rem;
}


.exptext{
    justify-self: center;
    margin-left: 5.5556vh;
    font-size: 10vw;
    font-weight: 900;
    line-height: 0.9;
    color: #71b436;
}

.grid-images{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2vw;
    gap: 10vh;
    margin-bottom: 10vw;
}

.grid-images-div{
    display: grid;
    justify-items: center;
    gap: 0.7rem;
    padding: 2vw;
    border: 3px solid #71b436;
    border-radius: 6px;
}

.grid-images-div h3{
    font-size: 1.2rem;
}

.grid-images-div p{
    font-size: 1vw;
    width: 40vh;
}

.grid-images-div img{
    width: 15vw;
    border-radius: 0.3rem;
}


.contato{
    display: grid;
    justify-items: center;
    margin-bottom: 12.5rem;
}
.contato h2{
    color: #71b436;
}

.contato img {
    height: 33vw;
    max-width: 100%;
    border: 6px solid #71b436;
}


.contato form{
    align-items: center;
    justify-content: center;
    height: 34vw;
    display: flex;
    flex-direction: column;
    width: 24vw;
}



form label{
    color: #f3f3f39a;
    font-size: 1.0625rem;
    margin-bottom: 4px;
}
form input{
    padding: 0.9375rem;
    outline: none;
    border: 0;
    width: 18vw;
    font-size: 0.8vw;
    background-color: #f8f8f8;
}

form textarea{
    padding: 0.625rem;
    outline: none;
    border: 0;
    width: 18vw;
    font-size: 0.8vw;
    margin-bottom: 1.6vh;
    background-color: #f8f8f8;

}

form button{
    margin-bottom: 1.2vw;
    padding: 0.8vw;
    width: 18vw;
    cursor: pointer;
    font-size: 1rem;
    background: #71b436;
    border: 0.01vw solid #426B1F;
    color: #f1f1f1;
    transition: all 1s;
}

form button:hover{
    background: #426B1F;
    color: #f1f1f1;
    
}

footer {
    display: grid;
    justify-content: center;
    height: 8vw;
    width: auto;
    align-items: center;
    background-color: #426B1F;
    align-content: center;
    gap: 1.25rem;
}

footer img{
    max-width: 100%; 
}

.footer-redes{
    justify-content: center;
}

.footer-redes li a {
    margin: 0px;
}

footer p{
    color: #f1f1f1;
}






@media (max-width: 1440px) {

   
    .exptext{
        font-size: 110px;
    }

    .curso-container h4 {
        font-size: 1rem;
    }
    .curso-container h5 {
        font-size: 0.9rem;
    }
    .curso-container p {
        font-size: 15px;
    }

    .curso-container {
        height: 27vh;
        
    }
    

    
}



@media (max-width: 1024px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #71b436;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      opacity: 0;
    }

    .perfil img{
        margin: 2rem 0;
    }



    .nav-list li {
      margin-left: 0;
      opacity: 0;
      cursor: pointer;
    }
    .grid-images-div p{
        font-size: 1rem;
    }
    .mobile-menu {
      display: block;
    }

    .perfil img{
        height: 70vw;
    }
    .quemsou{
        display: grid;
        grid-template-columns: 100vw;
        justify-items: center;
        margin-top: 1vh;
        }

    .quemsou-desc{
        justify-items: center;
        gap: 0.8rem;
    }
    
    .quemsou h2{
        font-size: 7vw;
        justify-self: center;
    }
    .texto-quemsou{
        padding-right: 0;
        font-size: 3vw;
        padding: 20px;
        text-align: center;
        }

    .grid-images{
        flex-direction: column;
    }

    .grid-images-div p{
        font-size: 1rem;
        width: 60vw;
    }
    .grid-images-div img{
        width: 30vh;
    }
    .experiencia{
        grid-template-columns: 100vw;
        justify-items: center;
    }
    .exptext{
        font-size: 11vw;
        gap: 2vw;
        margin-top: 10vw;
        margin-bottom: 20vw;
        margin-left: 0;
    }

    .experiencia-container{
        grid-template-columns: 70vw;
        margin: 0px;
    }
  
    .grid-exp-bloco1{
        gap: 4vh;
        width: 70vw;
    }

    
    .link-calc {
    font-size: 15px;
    padding: 15px;
    
    }
    .formacao{
        margin-bottom: 90px;
    }
    .formacao h2{
        font-size: 10VW;
    }
    .formacao-container{
        grid-template-columns: 100vw;
    }

    .curso-container{
        width: 65vw;
        height: 30vw;
        
    }

    .curso-container h4 {
        font-size: 1.6rem;
    }
    .curso-container h5 {
        font-size: 1.3rem;
    }
    .curso-container p {
        font-size: 17px;
    }

    .link-certificado{
        padding: 1.4vh;
        width: 23vh;
        font-size: 2vh;
    }
    .contato{
        grid-template-columns: 100vw;
        margin-bottom: 6rem;
    }

    .contato img{
        height: 50vw;
        margin-bottom: 26vw;
    }
    
    .contato form{
        height: 500px;
        width: 70vw;
    }
    form input{
        width: 60vw;
        font-size: 4vw;
    }

    form textarea{
        width: 60vw;
        font-size: 4vw;
    }
    form button{
        padding: 20px;
        margin-bottom: 20px;
        width: 180px;
    }

    form h2{
        margin-top: 1.25rem;
        font-size: 2.5rem;
    }

    footer {
        display: grid;
        justify-content: center;
        height: 30vw;
        width: auto;
        align-items: center;
        background-color: #71b436;
        align-content: center;
        gap: 10px;
    }

    .grid-exp-bloco1 img{
        display: none;
    }

    .quemsou{
        margin-bottom: 2rem;
    }
    .exptext{
        margin-top: 3vw;
    }
  }


  
@media (max-width: 768px) {
    .curso-container{
        width: 65vw;
        height: 70vw;
    }

    .curso-container h4 {
        font-size: 1.2rem;
    }
    .curso-container h5 {
        font-size: 1rem;
    }
    .curso-container p {
        font-size: 15px;
    }
    
}
  
  .nav-list.active {
    transform: translateX(0);
    opacity: 1;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(0);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }

  }
  

  
  
